﻿@using Mediporta.Resources;
@model TagViewModel

@{ 

}

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">@Resource.Index</th>
                        <th class="text-center">@Resource.TagName</th>
                        <th class="text-center">@Resource.TagCount</th>
                        <th class="text-center">@Resource.TagPercentCount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Tags != null)
                    {
                        if (Model.Tags.Count > 0)
                        {
                            var counter = 1;

                            foreach (var tag in Model.Tags)
                            {
                                <tr>
                                    <td class="text-center">@(counter++).</td>
                                    <td class="text-center">@tag.Name</td>
                                    <td class="text-right">@tag.Count</td>
                                    <td class="text-right">@string.Format("{0:0.00000}", tag.Percentage)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3">@Resource.NoData</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">
                                @Resource.NoData @(!Model.Status ? " - " + Resource.ErrorOccured : "")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>